@import url("https://fonts.googleapis.com/css2?family=Anton&family=Finger+Paint&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide the spinner for Webkit browsers (Chrome, Safari, Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the spinner for Firefox */
input[type="number"] {
  -moz-appearance: textfield; /* Removes the spinner */
}

/* width
::-webkit-scrollbar {
  width: 0.4rem;
}

/* Track */
/* ::-webkit-scrollbar-track {
  @apply bg-white;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  @apply bg-theme-dark;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  @apply bg-theme;
}  */

@tailwind base {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }
  html {
    @apply overflow-x-hidden;
  }
  body {
    @apply bg-background text-foreground min-h-svh w-full;
  }
}

.rdp-root {
  --rdp-accent-color: #e23844;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

body {
  font-family: "Mulish", sans-serif !important;
  font-size: 0.89rem !important;
  font-weight: 400 !important;
  cursor: default;
  user-select: none;
  @apply bg-lighter-gray;
}

.font-fingerPoint {
  font-family: "Anton", serif !important;
}

.fade-transition {
  transition: opacity 0.3s ease-in-out;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
}

.rdp-chevron {
  fill: black !important;
}

.clip-path-blob {
  clip-path: polygon(50% 0%, 100% 25%, 75% 100%, 25% 100%, 0% 25%);
}

@media (max-width: 640px) {
  .rdp-day,
  .rdp-day_button {
    width: 28px !important;
    height: 28px !important;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .rdp-day,
  .rdp-day_button {
    width: 30px !important;
    height: 30px !important;
  }
}

@media (min-width: 1025px) {
  .rdp-day,
  .rdp-day_button {
    width: 32px !important;
    height: 32px !important;
  }
}
