/* @import url("https://fonts.googleapis.com/css2?family=Finger+Paint&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Finger+Paint&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide the spinner for Webkit browsers (Chrome, Safari, Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the spinner for Firefox */
input[type="number"] {
  -moz-appearance: textfield; /* Removes the spinner */
}

/* width */
::-webkit-scrollbar {
  width: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-theme-dark;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-theme;
}

body {
  /* font-family: "Roboto Condensed", sans-serif !important; */
  font-family: "Mulish", sans-serif !important;
  font-size: 0.9rem !important;
  font-weight: 400 !important;
  @apply bg-lighter-gray;
}

.font-fingerPoint {
  font-family: "Anton", serif !important;
}
